.name {
  font-size: 20px;
  font-family: monospace;
  align-content: center;
}

.id {
  font-size: 15px;
  font-family: cursive;
  align-content: center;
}

.phone {
  font-size: 15px;
  font-family: monospace;
}

.email {
  font-size: 15px;
  font-family: cursive;
}
